body {
    background-image: url("https://krukam.pl/hpeciai/2b5385c9ca1c90b650f8f82d1c95f6ac/pol_pl_Merry-Christmas-Bilecik-Swiateczny-524502_2.png");
    background-size: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
