body {
    background-image: url("https://wallpapers.com/images/featured/merry-christmas-background-bqv6h0kgxh5dng7g.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
